<h1>Detailed Listing</h1>

<p><%= @listing.name %></p>

<%= link_to "delete", listing_path(@listing), class: 'text-danger text-decoration-none fs-6', data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
