// Specific CSS for your home-page
.home {
  color: #131515;

  .listing-wrapper {
    position: relative;
  }

  .listing-wrapper:nth-child(odd) {
    bottom: 24px;
  }

  .listing-wrapper:nth-child(even) {
    top: 24px;
  }
}
