$color: #131515;

.add {
  display: flex;
  justify-content: end;
  margin: 20px 25px;
}

.add-text {
  padding: 5px 10px;
}

.left-column {
  padding: 0 100px;
  text-align: center;
  height: 100vh;
  position: sticky;
  top: 50%;
}

.left-column > h2 {
  font-family: "Space Mono", "Helvetica", "sans-serif";
  color: $color;
}

.listing-card {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
  margin: 16px
}
.list-wrap {
  width: 300px;
}
