$color: #131515;

p {
  font-size: 15px;
}

.nothing {
  height: 100vh;
}

.nothing > p {
  margin: 0;
  font-size: 30px;
  color: $color;
}

.queues-image {
  width: 100%;
  height: 200px;
}

.listing-wrapper {
  width: 275px;
}

.queue img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.requestor-box {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
  margin-top: 15px;
}
