.requests-navigation {
  width: 100%;
  border-bottom: 1px solid #131515;
  border-top: 1px solid #131515;
}

.in-page-links {
  text-decoration: none;
  font-size: 25px;
  color: #131515;
  margin: 0 30px;
}

.not-accepted {
  width: 500px;
  height: 250px;
  display: flex;
  align-items: center;
  font-size: 30px;
}

.declined {
  color: #FF6663;
}

.accepted {
  color: #339989;
}

.requests-header {
  padding: 50px;
  font-family: "Space Mono", "Helvetica", "sans-serif";
}

.try-here:last-child {
  border: 0;
}

.borders-add-here {
  border-bottom: 1px solid #131515;
}

.borders-add-here:last-child {
  border: 0;
}
